
/* Slider styles */

.swiper-container {
    width: 100%;
    height: 550px; /* Adjust height as needed */
}

.swiper-wrapper {
    display: flex; /* Use flexbox to arrange slides horizontally */
}

.swiper-slide {
    flex: 0 0 auto; /* Ensure slides don't grow or shrink */
    width: 100%; /* Each slide occupies full width */
    text-align: center; /* Center the content within the slide */
}

.swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.swiper-pagination {
    position: absolute;
    bottom: 10px; /* Adjust this value as needed */
    width: 100%;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Product section styles */
.title {
    text-align: center;
    padding-top: 100px;
}

.Products .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #fff;
    width: calc(20% - 20px); /* 20% width for each card with a margin of 20px */
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 18px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease; /* Added transition for smooth zoom effect */
}

.Products-image img {
    width: 100%;
    height: auto;
}

.card-img-info {
    text-align: center;
}

.img-category {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    text-decoration: underline;
}

.card:hover {
    transform: scale(1.05); /* Adjust the scale factor as desired */
}

.slider-container {
    position: relative;
    overflow-x: scroll; /* Allow horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks */
}

.slider {
    display: flex; /* Use flexbox for horizontal layout */
}

.content {
    flex-shrink: 0; /* Prevent cards from shrinking */
}

/* .prev, .next {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: black;
    padding: 10px;
    cursor: pointer;
    z-index: 1; /* Ensure buttons appear above cards */
} */

/* .prev {
    left: 0;
}

.next {
    right: 0;
} */

/* Footer styles */

.footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    padding: 20px;
    flex: 1;
}

.footer-section h2 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    color: #fff;
}

.footer-bottom {
    background-color: #222;
    padding: 20px 0;
    text-align: center;
}

.footer-row {
    margin-bottom: 5px; /* Add margin between rows */
}

.footer-row p {
    margin: 0;
}

/* For small screens, display two cards per row */
@media only screen and (max-width: 767px) {
    .card {
        width: calc(50% - 10px); /* 50% width for each card with a margin of 20px */
        margin-right: 10px 2px; /* Right margin between cards */
        margin-top: 10px; /* Top margin */
        margin-bottom:10px ;
    }
    
    /* Remove right margin from the last card in each row */
    .card:nth-child(2n) {
        margin-right: 0;
    }

    .swiper-pagination {
        bottom: 20px; /* Adjust this value for smaller screens */
    }

    
}
